{%extends "layout.njk"%}

{% block head %}
    <title>Not-found</title>
{% endblock %}

{% block container %}
<div id="main-container">

    {% block header %}
        <div class="header-container">

            {%include "home-pages/parts/header.njk"%}
            
        </div>
    {% endblock %}

    {% block content %}

        <div class="short-presentation">
            <h1>Ooooops! O chef não foi encontrado.</h1>
            <img src="../../../assets/chef.png" alt="Chef">
        </div>
    {% endblock  %}

</div>
{% endblock container %}

{% block footer %}
    {%include "home-pages/parts/footer.njk"%}
{% endblock %}
