{%extends "layout.njk"%}

{% block head %}
    <title>Chef - Foodfy</title>
{% endblock %}

{% block container %}

    {% block header %}
    
        {% include "admin/parts/header.njk" %}

    {% endblock %}

    <div id="main-container">


        {% block content %}

            <section class="details-chef">

                <div class="title-button">
                    <h2>Chef: {{chef.name}}</h2>
                    <a href="/admin/chefs/edit/{{ chef.id }}"><button class="button"> Editar chef </button> </a>
                </div>
                <div class="info">
                    {% for image in chefAvatar %}
                        <img src="{{image.src}}" alt="Foto do chef {{data.name}}">
                        <h2>{{chef.name}}</h2>
                        <span>{{chef.total_recipes}} receitas</span>
                    {% endfor %}
                </div>

                <h3>Receitas</h3>

                <div class="recipes-details">

                    {% for recipe in recipes %}
                        <div class="recipe-admin">
                            {% for image in recipeImage %}
                                {% if image.recipe_id == recipe.id %}
                                    <img src="{{ image.src }}" alt="{{recipe.img_title}}" id="{{ image.id }}">
                                {% endif %}
                            {% endfor %}
                            
                            <div class="recipe-content">
                                <span class="title">{{ recipe.title }}</span>
                                <span class="author">por {{chef.name}}</span>
                                <span>
                                    <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                                </span>
                            </div>

                        </div>
                    {% endfor %}

                </div>

            </section>

        {% endblock %}
    </div>
{% endblock container %}}