{%extends "layout.njk"%}

{% block head %}
    <title>Chef - Foodfy</title>
{% endblock %}

{% block container %}

    {% block header %}

        {% include "admin/parts/header.njk" %}

    {% endblock %}
    
    {% if error %}
        {% include "admin/parts/messages.njk"%}
    {% endif %}
        
    {% if succes %}
        {% include "admin/parts/messages.njk"%}
    {% endif %}

    <div id="main-container">

        {% block content %}

                <div class="forms">
                
                    <h2>Editando chef</h2>

                    <form class="form-delete" method="POST" action="/admin/chefs?_method=DELETE">
                        
                        <button type="submit" class="button delete">Deletar</button>
                
                        <input type="hidden" name="id" value="{{ chef.id }}">
                        
                        <!-- Pega o total de receita para utilizar no front-end -->
                        <div id="chef"
                            data-total_recipes = "{{ chef.total_recipes }} "
                        ></div>
                    </form>

                    
                    <form class= "form-update" method="POST" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">
                    
                        <input type="hidden" name="id" value="{{ chef.id }}">

                        <span>Nome</span>
                        <input 
                            type="text" 
                            name="name" 
                            value= "{{ chef.name }}" >
                        <span>Avatar</span>

                        {% for chef in chefsData %}
                            <input 
                                id="chef-src"
                                type="text" 
                                name="src" 
                                value="{{ chef.src }}"
                                disabled
                                placeholder="{{ chef.src }}"
                                
                            >
                        {% endfor %}

                        <div id="avatar-upload">
                            
                            <input 
                                id="avatar-input"
                                name="avatar"
                                value="{{chef.src}}"
                                type="file"
                                accept="image/*"
                            >

                            <span class="button"> Enviar Avatar</span>

                        </div>
                            
                        <button class="button save">Salvar chef</button>
                    </form>
                </div>
            
        {% endblock %}

    </div>

{% endblock container %}

{% block script %}
    <script>
        const succes = document.querySelector('.message.succes')
        if(succes){   
            if(String(location.href).includes("chefs")){
                setTimeout(() => {
                    location.assign("/admin/chefs/details/{{ chef.id }}")
                }, 2000)
            }
        }

        if(succes){   
            if(String(location.href).includes("DELETE")){
                setTimeout(() => {
                    location.assign("/admin/chefs")
                }, 1000)
            }
        }
    </script>
{% endblock script %}