{%extends "layout.njk"%}

{% block head %}
    <title>chefs - Foodfy</title>
{% endblock %}

{% block container %}

    {% block header %}

        {% include "admin/recipes/parts/header.njk" %}

    {% endblock %}

    <div id="main-container">

        {% block content %}

            <section class="chefs-listing index">

                <div class="title-button index">
                    <h2 class="title-admin">Gerenciar chefs</h2>
                    <a href="/chefs/create"><button class="button" > Criar Chef </button></a>
                </div>

                <div class="chefs">

                    {% for chef in chefs %}
                        <div class="chef" id="{{chef.id}}">
                                {% for image in chefsAvatar %}
                                    {% if image.id == chef.file_id%}
                                        <img src="{{image.src}}" alt="Foto do chef {{chef.name}}">
                                    {% endif %}
                                {% endfor %}

                            <div class="info">
                                <h3 class="name">{{chef.name}}</h3>
                                <span>
                                    <a href="/chefs/details/{{ chef.id }}">Visualizar</a>
                                </span>
                            </div>
                        </div>
                    {% endfor %}

                </div>

                </div>
            </section>


        {% endblock %}
    </div>

{%endblock container%}