{%extends "layout.njk"%}
{%import "admin/parts/profile-section.njk" as form %}

{% block head %}
    <title>Create Users</title>
{% endblock %}

{% block container %}

    {% block header %}

        {% include "admin/parts/header.njk" %}

    {% endblock %}

        {% if error %}
            {% include "admin/parts/messages.njk"%}
        {% endif %}
    
        {% if succes %}
            {% include "admin/parts/messages.njk"%}
        {% endif %}
    
    <div id="main-container">

        {% block content %}
        
                <form class="form-create" method="POST" action="/admin/users">
                    <div class="title-button">
                        <h2>Criando Usuário</h2>
                        <div class="buttons">
                            <button type="submit" class="button">Salvar</button>
                            <a><button class="button">Cancelar</button></a>
                        </div>
                    </div>

                    {%include "admin/user/fields.njk"%}
                </form>

        {% endblock %}
        
    </div>
{% endblock container %}

{% block script %}
    <script>
        const formCreate = document.querySelector('.form-create')
        const succes = document.querySelector('.message.succes')

        if(succes){   
            if(String(location.href).includes("users")){
                setTimeout(() => {
                    location.assign("/admin/users")
                }, 3000)
            }
        }
    </script>
{% endblock script %}