{%extends "layout.njk"%}
{%import "admin/parts/profile-section.njk" as form %}

{% block head %}
    <title>Create Users</title>
{% endblock %}

{% block container %}

    {% block header %}

        {% include "admin/parts/header.njk" %}

    {% endblock %}

    {% if error %}
        {% include "admin/parts/messages.njk"%}
    {% endif %}

    {% if succes %}
        {% include "admin/parts/messages.njk"%}
    {% endif %}

    <div id="main-container">

        {% block content %}
        {% if adminUser === true %}
            <div class="title-button">
                <h2>Atualizar Usuário</h2>
                <div class="buttons">
                        <button class="button delete" type="submit" form="form-delete">Deletar</button>
                    <button 
                        class="button" 
                        type="submit" 
                        form="update"
                    >Salvar</button>
                </div>
            </div>
            {{ form.profileForm('update', 'users', user) }}
        {% endif %}

        {% endblock %}
    </div>
{% endblock container %}

{% block script %}
    <script>
        if (String(location.href).includes("PUT")) {
            setTimeout(() => {
                location.assign("/admin/users/edit/{{ user.id }}")
            }, 2000)
        }
    </script>
{% endblock script %}