{%extends "layout.njk"%}

{% block head %}
    <title>Chef - Foodfy</title>
{% endblock %}

{% block container %}
    <div id="main-container">

        {% block header %}
            {%include "recipes/parts/header.njk"%}
        {% endblock %}


        {% block content %}

            <section class="chefs-listing">

                <div class="chefs" id="{{loop.index0}}">

                    {% for chef in chefs %}
                        <div class="chef">
                            {% for image in chefsAvatar %}
                                {% if chef.file_id == image.id %}
                                    <img src="{{image.src}}" alt="Foto do chef {{chef.name}}">
                                {% endif %}
                            {% endfor %}

                            <div class="info">
                                <h3>{{chef.name}}</h3>
                                <span>{{chef.total_recipes}} receitas </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>

        {% endblock %}
    </div>
{% endblock container %}

{% block footer %}
    {%include "recipes/parts/footer.njk"%}
{% endblock %}