{%extends "layout.njk"%}

{% block head %}
    <title>Home</title>
{% endblock %}


{% block header %}
    <header class="main">

        <nav>
            <a href="/"><img src="/images/logo.png " alt="Logo"></a>

            <div class="links">
                <a class="link" href="/about" target="blank">Sobre</a>
                <a class="link" href="/revenues" target="blank">Receitas</a>
                <a class="link" href="/listing/chefs" target="blank">Chefs</a>
            </div>
        </nav>

        <div class="filter">
            <form action="/home/filter" method="get">
                <input type="text" name="filter" value="{{ filter }}">
            </form>
        </div>


    </header>

{% endblock %}

{% block content %}
    <main>
        <h2>Buscando por "{{ filter }}"</h2>

        <section class="revenue">
        {% for recipe in recipes %}
            <div class="recipe" id="">
                <img src="{{recipe.image}}" alt="{{recipe.title}}">

                <div class="recipe__name">
                    <p>{{recipe.title}}</p>
                </div>

                <div class="recipe__creator">
                    <p>por {{recipe.chef_name}}</p>
                </div>

            </div>
        {% endfor %}
        </section>


    </main>

{% endblock  %}

{% block footer %}
    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>
    <script src="/scripts/script.js"></script>
{% endblock %}

