{%extends "layout.njk"%}

{% block head %}
    <title>Home</title>
{% endblock %}


{% block container %}
    <div id="main-container">

        {% block header %}
            <div class="header-container">

                {%include "recipes/parts/header.njk"%}
                
                {%include "recipes/parts/filter.njk"%}
                
            </div>
        {% endblock %}

        {% block content %}
            <main>
                <h2>Buscando por "{{ filter }}"</h2>

                <section class="recipe-container">
                    {% for recipe in recipes %}
                        <div class="recipe" id="{{ recipe.id }}" >
                            {% for image in recipesImage %}
                                {% if recipe.id == image.recipe_id %}
                                    <img src="{{image.src}}" alt="{{image.name}}">
                                {% endif %}
                            {% endfor %}
                            <div class="recipe-name">
                                <p>{{recipe.title}}</p>
                            </div>

                            <div class="recipe-creator">
                                <p>por {{recipe.chef_name}}</p>
                            </div>

                        </div>
                    {% endfor %}
                </section>


            </main>

        {% endblock  %}
        
    </div>

{% endblock container %}

{% block footer %}
    {%include "recipes/parts/footer.njk"%}
{% endblock %}