{%extends "layout.njk"%}

{% block head %}
    <title>Receita - {{recipes.title}}</title>
{% endblock %}

{% block container %}
    <div id="main-container">

        {% block header %}
            {%include "recipes/parts/header.njk"%}
        {% endblock %}

        {% block content %}

            <div class="recipe-information">
                <img src="{{recipes.image}}" alt="{{recipes.title}}">

                <div class="recipe-name">
                    <h2>{{recipes.title}}</h2>
                </div>

                <div class="recipe-creator">
                    <span>por {{recipes.chef_name}}</span>
                </div>

                <div class="ingredients">
                    <div class="title-button-information">
                        <h3>Informações adicionais</h3>
                        <span class="button1">ESCONDER</span>
                    </div>

                    <ul class="">
                        {% for ingredient in recipes.ingredients %}
                            <li><span>{{ingredient}}</span></li>
                        {%endfor%}
                    </ul>
                </div>

                <div class=" preparation">
                    <div class="title-button-information">
                        <h3>Modo de preparo</h3>
                        <span class="button2">MOSTRAR</span>
                    </div>

                    <ul class="remove">
                        {% for preparation in recipes.preparation %}
                            <li><span>{{preparation}}</span></li>
                        {%endfor%}
                    </ul>
                </div>

                <div class="additional-information">
                    <div class="title-button-information">
                        <h3>Informações adicionais</h3>
                        <span class="button3">ESCONDER</span>
                    </div>

                    <div class="text">
                        <p>{{recipes.information}}</p>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block footer %}
    {%include "recipes/parts/footer.njk"%}
{% endblock %}