@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";


:root{
    --title-color: #111111;
    --creator-color: #777777;
    --button-color: #6558C3;
    --dark-button:  #5543c9;
    --admin-header-letter-color: #999999;
    --color-white: #FFFFFF;
    --color-error: #DC4747;
    --link-button: #6558c3
}


*{
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;

}

html, body {
    min-height: 100vh;
}

body{
    font-family: 'Roboto', sans-serif;
    
    display: flex;
    flex-direction: column;
}

#main-container {
    width: 940px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
    margin: 36px 0;
}

header a img {
    margin-right: 122.4px;
}

header nav ul {
    display: flex; 
}

header nav .links a{
    margin: 0 20px;
    color: var(--title-color);
    font-size: 16px;
}

.bold-home {
    font-weight: bold;
    font-size: 16px;
    color: var(--title-color);
}

/* Header admin*/

header.admin-header a img{
    margin-right: 50.4px;
}

header.admin-header .admin a {
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--admin-header-letter-color);
}

header.admin-header .admin .bold-admin{
    font-weight: bold;
    font-size: 16px;
    color: var(--color-white);
}

header.admin-header li form button{
    background: none;
    font-size: 15px;
    font-weight: bold;
    color: var(--color-white);
    text-transform: uppercase;
    cursor: pointer;
}

/* Filtro de Busca*/

.filter form{
    display: flex;
    align-items: center;
}

.filter form input {
    width: 246px;
    height: 37px;
    margin: 0 ;
}

.filter form button {
    width: 91px;
    height: 37px;
    margin-left: 8px;
    border-radius: 4px;
    cursor: pointer;

    font-weight: bold;
    font-size: 16px;
    color: var(--color-white);
}
 
.short-presentation {
    background: #FBDFDB;
    width: 940px;
    border-radius: 30px;
    margin-bottom: 50px;
    position: relative;

    transition: opacity 800ms;

    animation: up 800ms ease-in-out;
}

@keyframes up {
    top {
        opacity: 0;
    }
    from {
        opacity: 1;
        transform: translateX(-50px)

    }
}

.short-presentation h1 {
    padding: 117px 575px 211px 60px;
    font-weight: bold;
    color: var(--title-color);
    font-size: 32px;
    line-height: 38px;
    position: absolute;
}

.short-presentation img {
    padding-top: 60px;
    margin-left: 624px;
}


.short-presentation p {
    max-width: 316px;
    padding: 165px 564px 117px 60px;
    position: absolute;
    top: 0;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
    box-sizing: initial;
}

main h2 {
    margin-bottom: 20px;
    text-align: left;   
    color: var(--title-color);
    font-size: 24px;
    line-height: 28px;
}

.recipe-container{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipe{
    display: grid;
    grid-template-columns: 1fr ;
    
    transition: opacity 800ms;
    animation: up 800ms ease-in-out;
    
}

.recipe img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
    cursor: pointer;
    object-fit: cover;
}

.recipe-name p {
    margin: 20px 0 5px 0;
    font-size: 18px;
    line-height: 21px;
    color: var(--title-color);
}

.recipe .recipe-creator p {
    text-align: left;
    font-size: 14px;
    line-height: 16px;
    color: var(--creator-color);
}


.footer-box {
    margin-top: auto;
    width: 100%;
    display: flex;
    align-items: center;
}


.footer-box footer  {
    margin-top: 50px;
    width: 100%;
    background-color: #EEEEEE;
    padding: 23px 0;
    text-align: center;
}

 /*=== Sobre ===*/
.about{
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: var(--title-color);
}

.foodfy-content{
    max-width: 940px;
    margin: 0 auto;
}

.foodfy-content h1 {
    font-size: 24px;
    line-height: 28px;
    color: var(--title-color);
    margin-top: 50px;
    margin-bottom: 20px;
}

.foodfy-content h2{
    font-size: 20px;
    line-height: 24px;
    color: var(--title-color);
    margin-top: 50px;
    margin-bottom: 20px;
}


.foodfy-content p {
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    margin-bottom: 30px;
}

/*=== Receitas da Home ===*/
.all-recipes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*=== Informação da Receita ==== */
.recipe-information .gallery .highlight img,
.recipe-show img {
    width: 940px;
    height: 280px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 15px;
    margin: 0px 0 8px 0;
}

/* Galeria das imagens da informação da receita  */
.recipe-information .gallery .highlight img{
    cursor: zoom-in;
}

.recipe-information .gallery .preview-container  {
    display: flex;
    justify-content: flex-end;
}

.recipe-information .gallery .preview-container img {
    width: 50px;
    height: 50px;
    border-radius: 3.5px;
    object-fit: cover;
    opacity: 0.5;
    cursor: pointer;

    transition: opacity 400ms; 
}

.recipe-information .gallery .preview-container .gallery-preview .active,
.recipe-information .gallery .preview-container img:hover {
    opacity: 1;
}

/* Lightbox recipes gallery */

.gallery .highlight .lightbox-target {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);

    overflow: hidden;
    top: -100%;
    left: 0;
    
    opacity: 0;
    transition: opacity 400ms;
    
    z-index: 100;

}

.gallery .highlight .lightbox-target img {
    margin: auto;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    cursor: initial;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);

    width: 90%;
    height: 90%;
    object-fit: contain;
}

.gallery .highlight .lightbox-target a.lightbox-close{
    width: 40px;
    height: 40px;

    position: absolute;
    top: -80px;
    right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 400ms;
    border-radius: 50%;
}

.gallery .highlight .lightbox-target a.lightbox-close:hover {
    background-color: #444444;
    border-radius: 50%;
} 

.gallery .highlight .lightbox-target a i {
    color: #FF0000;
}

.recipe-name h2 {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
}

.recipe-creator{
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin-top: 4px;
    color: var(--creator-color);
}

.title-button-information {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.title-button-information span {
    margin: 8px 0 0 8px;
    cursor: pointer;
}

.recipe-information h3 {
    font-weight: bold;
    font-size: 24px;
    color: var(--title-color);
}

.recipe-information ul {
    margin-bottom: 39px;
    font-size: 18px;
    line-height: 28px;
    
    transition: opacity 400ms;
}

.recipe-information ul li { 
    list-style: inside;
    color: var(--title-color);
} 

.recipe-information ul span,
.recipe-information .text p { 
    font-size: 18px;
    color: #444444;
    line-height: 28px;
} 

.recipe-information .text p {
    margin-bottom: 51px;
}

.recipe-information span.button1,
.recipe-information span.button2,
.recipe-information span.button3 {
    font-weight: bold;
    font-size: 12px;
    color: var(--admin-header-letter-color);
}

.remove {
    opacity: 0;
    transition: opacity 400ms;
}

.add {
    transition: opacity 400ms;
    opacity: 1;
}

/*=== Admin da receitas ===*/
.container-header {
    background-color: var(--title-color);

    display: flex;
    align-items: center;

    width: 100%;
    height: 80px;
    
    margin-bottom: 50px;

}

.container-header header {
    width: 940px;
    margin: 0 auto;
}

.title-admin {
    margin-bottom: 30px;
}

.recipes-admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.recipe-admin {
    display: flex;
}

.recipe-admin img {
    width: 172px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 15px;
    object-fit: cover;
}

.recipe-admin .recipe-content {
    margin: 0 20px;
}

.recipe-admin .recipe-content .title {
    margin-bottom: 5px; 
    font-size: 18px;
    color: var(--title-color);
}

.recipe-admin .recipe-content .author,
.details-chef .info span {
    font-size: 14px;
    color: var(--creator-color);
    margin-bottom: 10px;
} 

.recipe-admin .recipe-content span a {
    font-weight: bold;
    font-size: 14px;
    color: var(--button-color);
}

form .title-button, 
.title-button.index,
.recipe-information .title-button,
.create-chef .title-button,
.details-chef .title-button { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.recipe-information li.type {
    list-style: none;
}

.title-button a,
.button,
.chef-form button{
    display: block;
    background: var(--button-color);
    
    width: 127px;

    height: 37px;

    font-weight: bold;
    font-size: 16px;
    color: var(--color-white);
    border-radius: 4px;
    cursor: pointer;
}

.recipe-show img {
    margin-top: 22px;
}    

/* Form recipe */

.forms {
    position: relative;
}

.forms h2 {
    margin-bottom: 30px;
}

.button.delete {
    background: var(--color-error);
}

.forms form .button.delete {
    position: absolute;
    top: 0;
    right: 125px;
    margin-right: 10px;
    background: var(--color-error);
}

.forms form .button.save {
    position: absolute;
    top: 0;
    right: 0;

}

form .item h4{
    font-weight: bold;
    line-height: 19px;
    font-size: 16px;
    color: var(--title-color);
    margin-bottom: 10px;
}

input[type="email"],
input[type="text"],
input[type="password"],
#photos-upload,
textarea,
select {
    background: var(--color-white);
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 43px 15px 20px;
    
    font-size: 16px;
    color: var(--title-color);
    line-height: 24px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

form textarea[name="information"]{
    height: 257px;
    resize: none;
}

input::placeholder,
select{
    color: #444444;
    font-size: 16px;
}

button.add-ingredient,
button.add-preparation {
    background: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--button-color);
    margin-bottom: 30px;
    cursor: pointer;
}

/* CHEF */
/* .title-button {
    display: grid;
    align-items: center;
} */

.create-chef .chef-form span,
.form-update span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.details-chef .info {
    text-align: center;
    margin-bottom: 50px;
}

.details-chef .info img {
    margin: 0 auto;
}

.details-chef .info h2 {
    margin: 30px 0 10px 0;
    color: var(--title-color);
    font-size: 36px;
}

.details-chef .info span {
    font-size: 20px;
}

.details-chef h3 {
    margin-bottom: 30px;
    font-size: 24px;
    color: var(--title-color);
}

.recipes-details {
    display: grid;
    grid-template-columns:  repeat(2, auto); 
}

.recipe-admin .recipe-content span {
    display: block;
}

.details-chef .info img {
    display: flex;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.details-chef .recipes {
    display: grid;
    grid-template-columns: 1fr 1fr
}

.button-delete {
    margin: 0
}

.chefs-listing {
    margin-top: 50px;
}

.chefs-listing.index {
    margin: 0;
}

.chefs-listing .chefs  {
    display: grid;
    grid-template-columns: repeat(4,auto);
}

.chefs-listing .chef {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.chefs-listing h2{
    margin-bottom: 39px;
}

.chefs-listing .chefs .info {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-left: 20px;
}

.chefs-listing .chefs .info h3 {
    margin: 5px 0;
    
    font-size: 18px;
    font-weight: 400;
    color: var(--title-color);
}

.chefs-listing .chefs .info:nth-child(2) {
    font-size: 14px;
    color: #666666;
}

.chefs-listing .chefs .info span a {
    font-weight: bold;
    color: var(--button-color);
    font-size: 14px;
}

.chefs-listing .chefs img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
}

/* PAGES */

.pagination { 
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.pagination a,
.pagination span {
    background-color: var(--button-color);
    margin: 0 10px; 
    padding: 8px;
    border-radius: 14px;
    color: white;

}

.pagination a:hover {
    color: var(--title-color);
}

/* Photos Upload */

.item .photos-container {
    display: flex
}

#photos-upload {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 149px;
    height: 149px;
    border-radius: 3.5px;
}

#photos-input {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

#photos-upload i {
    font-size: 28px;
    font-weight: bold;
    color: #777777;
}

#photos-preview {
    display: flex;
    justify-content: center;
}

#photos-preview .photo {
    position: relative;
    margin-left: 10px;
}

#photos-preview img {
    width: 150px;
    height: 150px;
    border-radius: 3.5px;
    object-fit: cover;
}

#photos-preview .photo i {
    background: rgba(255, 255, 255, 80%) ;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 39.6px;
    font-weight: bold;
    color: #FF0000;

    transition: opacity 400ms;

    opacity: 0;
    cursor: pointer;
}

#photos-preview .photo i:hover {
    opacity: 1;
}

/*CHEF AVATAR*/
#avatar-upload {
    position: relative;
    
    display: block;
    overflow: hidden;

    width: 139px;
    height: 37px;
}

#avatar-upload input {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
}

#avatar-upload span {
    padding: 9px 16px;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
}

#chef-src::placeholder, input[name="src"] {
    opacity: 0.36;
    font-size: 16px;
    color: var(--title-color);
}

/* User Login */
.logo-login  {
    display: flex;
    justify-self: center;
    align-self: center;
    margin: 35px 0 146px 0;
}

#main-container .login h2 {
    text-align: center;
    margin-bottom: 35px;
}

#main-container .login .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-container .login .input-container .item{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}

#main-container .login .item input{
    width: 450px;
}

#main-container .login .link-button  {
    display: flex;
    justify-content: center;
}

#main-container .login .link-button .items {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48%;
}

#main-container .login .link-button .items a {
    font-size: 16px;
    font-weight: bold;
    color: #969696;
}

#main-container .login .link-button .items button:hover {
    background: var(--dark-button);
}

#main-container .login .link-button .items a:hover {
    color: #504e4e8d;
}

#main-container .form-create .link-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes hidemessage {
    to {
        opacity: 0;
        right: 20;
    }
}

.message {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 344px;
    height: 135px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 55px;
    opacity: 1;

    animation: hidemessage 400ms 5s ease-out forwards;
}

.message.error {
    background: var(--color-error);
}

.message.succes {
    background: #01B12A;
}

/* User */
.container-header #profile-container {
    display: flex;
    justify-items: self-end;
}

/* Users Create*/
.title-button .buttons {
    display: flex;
}

.title-button .buttons button {
    margin-right: 16px;
    transition: 400ms
}

.title-button .buttons button:hover {
    background-color: var(--dark-button);
}

.title-button .buttons a button {
    background-color: #8A8A8A;
    color: var(--color-white);
}

.title-button .buttons a button:hover {
    background-color: #858383c7;
}

.fields-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.fields-container input[name="name"],
.fields-container input[name="email"],
.fields-container input[name="password"] {
    width: 450px;
    margin: 0 40px 0 0;
    
}

.fields-container input[name="is_admin"],
.item.password{
    margin-top: 33px;
}

.fields-container label {
    color: var(--title-color);
    font-size: 16px;
    font-weight: bold;
}

.item .error {
    background: var(--color-error);
    max-width: 450px;
    width: 100%;
    margin: 8px 0;
    border-radius: 4px;
    padding: 2px 2px 2px 4px;
}


/* Users list */ 

#main-container .users-list .users {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.users-list .users .user .info h3 {
    margin-bottom: 4px;
    font-family: Helvetica;
    font-size: 18px;    
    font-weight: 400;
    line-height: 22px;
    color: var(--title-color);
}

.users-list .users .user .info span {
    font-family: Helvetica;
    font-size: 14px;
    line-height: 17px;
    color: var(--admin-header-letter-color);
}

.users-list .users .user .info .buttons {
    display: flex;
    align-items: center;
    margin: 16px 0 52px 0; 
}

.users-list .users .user .info .buttons a{
    font-weight: bold;
    font-size: 14px;
    margin-right: 16px;
    color: var(--link-button);
}

.users-list .users .user .info .buttons form button {
    background: none;
    font-weight: bold;
    font-size: 14px;
    color: #F55A5A;
    cursor: pointer;
}

/*User edit */
#main-container .title-button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 67px;
}

#main-container .title-button .button.delete:hover {
    background: #d41f1f;
}