<header>
    <a href="/"><img src="/assets/logo.png " alt="Logo"></a>
    <nav>
        <ul class="links">
            <li><a href="/about" target="blank">Sobre</a></li>
            <li><a href="/recipes" target="blank">Receitas</a><li>
            <li><a href="/listing/chefs" target="blank">Chefs</a></li>
        </ul>
    </nav>
</header>