<div class="item">
    <h4>Imagem da receita</h4>
    <input 
        type="url" 
        name="img_recipe" 
        placeholder="insira a url da receita"
        value="{{ recipes.img_recipe }}"
    >            
</div>

<div class="item">
    <h4>Título da receita </h4>
    <input 
        type="text" 
        name="title" 
        placeholder="insira um título para receita"
        value="{{ recipes.title }}"
    >            
</div>


<div class="item">
    <h4>Autor da receita</h4>
    <input 
        type="text" 
        name="author" 
        value="{{ recipes.author }}"
    >        
</div>

<div class="item"> 
    <h4>Ingredientes</h4>
    {% if recipes %}
        <div id="ingredients"> 
            {% for ingredient in recipes.ingredients %}
                <div class="ingredient">
                    <input  
                        type="text"     
                        name="ingredients[]"    
                        value="{{ ingredient }}"     
                        placeholder="Ingredient" 
                    />
                </div>
            {% endfor %}
        </div>
    {%else %}
        <div class="ingredient" id="ingredients">
            <input  
                type="text"     
                name="ingredients[]"    
                placeholder="Ingredient" 
            />
        </div>
    {% endif %}
    <button type="button" class="add-ingredient">adicionar novo ingrediente</button>

</div>
            

<div class="item">
    <h4>Modo de preparo</h4>
    {% if recipes %}
        <div id="preparations">
            {% for preparation in recipes.preparations %}
                <div class="preparation">
                    <input 
                        type="text" 
                        name="preparations[]" 
                        value="{{ preparation }}"  
                    > 
                </div>
            {% endfor %}
        </div>
    {%else%}
        <div class="preparation" id="preparations">
            <input 
                type="text" 
                name="preparations[]" 
            > 
        </div>     
    {% endif %}

    <button type="button" class="add-preparation">adicionar novo passo</button>            
</div>

<div class="item">
    <h4>Informações adicionais</h4>
                 
    <textarea 
        name="information" 
        icols="30" 
        rows="10"
        value="{{ recipes.information }}"
    >{{ recipes.information }}

    </textarea>

</div>

