{%extends "layout.njk"%}
{% block head %}
    <title>Profile</title>
{% endblock %}

{% block container %}

    {% block header %}

        {% include "admin/parts/header.njk" %}

    {% endblock %}

    {% if error %}
        {% include "admin/parts/messages.njk"%}
    {% endif %}

    {% if succes %}
        {% include "admin/parts/messages.njk"%}
    {% endif %}

    <div id="main-container">

        {% block content %}
            <div class="title-button admin">
                <h2>Bem Vindo {{ user.name }}</h2>
                <div class="buttons">
                    <button 
                        class="button" 
                        type="submit" 
                        form="update"
                        onclick="Validate.allFieldsUser(event)"
                    >Salvar</button>
                </div>
            </div>

            <form id="update" method="POST" action="/admin/profile?_method=PUT">
                {% include 'admin/profile/fields.njk' %}
                <input 
                    type="hidden" 
                    name="id" 
                    value="{{ user.id }}"
                >
            </form>
            
        {% endblock %}
    </div>
{% endblock container %}