{%extends "layout.njk"%}

{% block head %}
    <title>Edit</title>
{% endblock %}

{% block container %}

    {% block header %}

        {% include "admin/parts/header.njk" %}

    {% endblock %}
    {% if error %}
        {% include "admin/parts/messages.njk"%}
    {% endif %}
    <div id="main-container">

        {% block content %}

            <div class="forms">

                <h2>Editando receita</h2>
                
                <form class= "form-update" method="POST" action="/admin/recipes/{{ recipe.id }}/?_method=PUT" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{{ recipe.id }}">
                
                    <button class="button save" onclick="Validate.allFieldsRecipes(event)">Salvar receita</button>
                
                    {% include 'admin/recipes/fields.njk' %} 
                </form>

                {%if adminUser == true%}
                    <form class="form-delete" method="POST" action="/admin/recipes/?_method=DELETE">
                        
                        <button type="submit" class="button delete" onclick="deleteSomething(event)">Deletar</button>
                        
                        <input type="hidden" name="id" value="{{ recipe.id }}">

                    </form>
                {%endif%}                
            </div>
        
        {% endblock %}
            
    </div>
{% endblock container %}

