{%extends "layout.njk"%}

{% block head %}
    <title>Admin-Foodfy</title>
{% endblock %}


{% block container %}

        {% block header %}

        {% include "admin/parts/header.njk" %}

        {% endblock %}

    <div id="main-container">

        {% block content %}
            
            <div class="title-button index">
                    <h2 class="title-admin">Gerenciar receitas</h2>
                    <a href="/admin/recipes/create"><button class="button" > Criar receita </button></a>
            </div>

            <section class="recipes-admin">

                {% for recipe in recipes %}
                    <div class="recipe-admin">
                        
                            {% for image in recipesImage %}
                                
                                {% if recipe.id == image.recipe_id %}
                                    <img src="{{ image.src }}" alt="{{image.name}}">
                                {% endif %}
                            
                            {% endfor %}

                        <div class="recipe-content">
                            <p class="title">{{recipe.title}}</p>
                            <p class="author">por {{recipe.chef_name}}</p>
                            <span>
                               <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                            </span>
                        </div>

                    </div>
                {% endfor %}

            </section>
        {% endblock %}

        <div 
            class="pagination" data-page="{{ pagination.page }} 
            " data-total="{{ pagination.total }} "
        ></div>  

    </div>
{% endblock container %}