{%extends "layout.njk"%}

{% block head %}
    <title>Receita - {{recipe.title}}</title>
{% endblock %}

{% block container %}

    {% block header %}
    
        {% include "admin/parts/header.njk" %}            
            
    {% endblock %}

    <div id="main-container">
        {% block content %}

            <div class="recipe-information">

                <div class="title-button">
                    <h2>Receita: {{recipe.title}}</h2>
                    <a href="/admin/recipes/{{ recipe.id }}/edit"><button class="button" > Editar receita </button></a>
                </div>
                
                <div class="gallery">

                    <div class="highlight">
                        <img 
                            src="{{recipeImage[0].src}}" 
                            alt="{{recipeImage[0].src}}"
                            onclick="Lightbox.open()"                            
                            >
                    
                        <div class="lightbox-target">
                            <img src="{{recipeImage[0].src}}" alt="{{ recipeImage[0].name }}">
                            <a 
                                class="lightbox-close" 
                                href="#"
                                onclick="Lightbox.close()"
                            >
                                <i class="material-icons">close</i>
                            </a>
                        </div>
                    </div>
                    

                    <div class="preview-container">

                        <div class="gallery-preview">
                            {% for image in recipeImage %}
                                <img 
                                    src="{{ image.src }}" 
                                    alt="{{ image.name }}"
                                    {% if  loop.index0 == 0 %}
                                        class="active"
                                    {% endif %}
                                    onclick="ImageGallery.setImage(event)"
                                >
                            {% endfor %}
                        </div>
                        
                    </div>
                
                
                </div>
                
                <div class="recipe-name">
                    <h2>{{recipe.title}}</h2>
                </div>

                <div class="recipe-creator">
                    <span>por {{recipe.chef_name}}</span>
                </div>

                <div class="ingredients">
                    <div class="title-button">
                        <h3>Ingredientes</h3>
                    </div>

                    
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                            <li class="type">- <span>{{ ingredient }}</span></li>
                        {%endfor%}
                    </ul>
                </div>

                <div class=" preparation">
                    <div class="title-button">
                        <h3>Modo de preparo</h3>
                    </div>

                    <ul >
                        {% for preparation in recipe.preparation %}
                            <li class="type">- <span>{{preparation}}</span></li>
                        {%endfor%}
                    </ul>
                </div>

                <div class="additional-information">
                    <div class="title-button">
                        <h3>Informações adicionais</h3>
                    </div>

                    <div class="text">
                        <p>{{recipe.information}}</p>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
