<div class="container-header">

    <header class="admin-header">

        <a href="/"><img src="/images/logo-admin.png " alt="Logo"></a>
        
        <nav >
            <ul class="admin">
                <li><a class="" href="/admin/recipes">Receitas</a></li>
                <li><a href="/chefs">Chefs</a></li>
            </ul>
        </nav>
    
    </header>

</div>