{%extends "layout.njk"%}

{% block head %}
    <title>Sobre</title>
{% endblock %}

{% block container %}
<div id="main-container">

    {% block header %}
        {%include "home-pages/parts/header.njk"%}
    {% endblock %}

    {% block content %}
        
        <div class="foodfy-content">
            <h1>{{about.foodfyTitle}}</h1>
            <p>{{about.foodfyParagraph1}}</p>
            <p>{{about.foodfyParagraph2}}</p>

            <h2>{{about.subtitle1}}</h2>
            <p>{{about.subtitleParagraph1}}</p>
            <p>{{about.subtitleParagraph2}}</p>

            <h2>{{about.subtitle2}}</h2>
            <p>{{about.subheadingParagraph2}}</p>
        </div>

    {% endblock %}

</div>
{% endblock container %}

{% block footer %}
    {%include "home-pages/parts/footer.njk"%}
{% endblock %}